body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

div {
    border: 1px solid black;
}

header {
    background-color: #f3f7f7;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 0px 8px 20px #dbdbdb;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

#title {
    background-color: #fff;
    max-width: 100vw;
}

.mainarticles {
    background-color: lightblue;
}

.tickets {
    background-color: lightcoral;
}

#popular {
    background-color: lightgreen;
}

#latest {
    background-color: lightpink;
}

#explore {
    background-color: lightsalmon;
}

#newsletter{
    background-color: lightseagreen;
}

#watch {
    background-color: lightskyblue;
}

#work {
    background-color: mediumaquamarine;
}

footer {
    background-color: bisque;
}

h1 {
    font-family: 'Wendy One', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h3 {
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    header {
        height: 50px;
    }

    #title {
        text-align: center;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 15px;
    }

    .menuitem1 {
        visibility: hidden;
    }

    .menuitem2 {
        visibility: visible;
    }

    #mainartcontainer {
        display: flex;
        overflow: scroll;
    }

    .mainarticles {
        height: 200px;
        flex: 0 0 200px;
        margin: 0 5px;
    }

    .tickets {
        width: 95%;
        margin: 5px 2.5%;
        height: 150px;
    }

    #popular {
        text-align: center;
    }

    #latest {
        text-align: center;
    }

    .stories {
        height: 100px;
        width: 90%;
        margin: 5px 5%;
    }

    #explore {
        text-align: center;
    }

    #explorecontainer {
        display: flex;
        overflow: scroll;
    }

    .exploreitem {
        height: 200px;
        flex: 0 0 200px;
        margin: 0 5px;
    }

    #newsletter {
        height: 300px;
        text-align: center;
    }

    #grootvideo {
        height: 250px;
    }

    #kleinvideo {
        height: 180px;
        display: flex;
        overflow: scroll;
    }

    .video {
        flex: 0 0 200px;
        margin: 0 5px;
    }

    #work {
        height: 500px;
    }

    .flinks {
        display: inline-block;
        margin-left: 20%;
    }

    .flinks > * {
        display: block;
    }
  }

  @media screen and (max-width: 1024px) {
    header {
        height: 50px;
    }

    #title {
        text-align: center;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 15px;
    }

    .menuitem1 {
        visibility: hidden;
    }

    .menuitem2 {
        visibility: visible;
    }

    #mainart {
        width: 80%;
        margin: auto;
    }

    #mainartcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 250px);
        grid-gap: 10px;
    }

     .art1 {
         grid-row: 1 / 3;
         grid-column: 1 / -1;
     }

     .art2 {
         grid-row: 3 / 4;
         grid-column: 1 / 2;
     }

     .art3 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .art4 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .tickets {
        position: absolute;
        top: 690px;
        left: 50.5%;
        width: 39.2%;
        height: 250px;
    }

    #popular {
        text-align: center;
    }

    #storycontainer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .stories {
        flex: 1 1 400px;
        height: 250px;
        margin: 10px;
    }

    #explorecontainer {
        display: flex;
        justify-content: center;
    }

    .exploreitem {
        height: 300px;
        flex: 0 1 250px;
        margin: 0 10px;
    }

    .weg {
        display: none;
    }

    #newsletter {
        height: 300px;
        text-align: center;
    }

    #watch {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 50px 500px;
        grid-gap: 30px;
        margin: auto;
        width: 80%;
    }

    #watchtitle {
        grid-column: 1 / -1;
    }

    #grootvideo {
        grid-column: 1 / 2;
    }

    #kleinvideo {
        grid-column: 2 / 3;
        overflow-y: scroll;
    }

    .video {
        width: 97%;
        height: 150px;
        margin-bottom: 5px;
    }

    #work {
        height: 500px;
    }

    .flinks {
        display: inline-block;
        margin-left: 20%;
    }

    .flinks > * {
        display: block;
    }
  }

  @media screen and (min-width: 1025px) {
    header {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 0 0 60vw;
    }

    .menuitem1 {
        visibility: visible;
    }

    .menuitem2 {
        visibility: hidden;
    }

    #title {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
    }

    #title > h1 {
        font-size: 6em;
    }

    #title > h2 {
        font-size: 2.3em;
        color: rgb(88, 88, 88);
        align-self: center;
    }

    #mainartcontainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 100px);
        grid-gap: 10px;
    }

     .art1 {
         grid-row: 1 / 4;
         grid-column: 1 / 3;
     }

     .art2 {
         grid-row: 1 / 3;
         grid-column: 3 / 4;
     }

     .art3 {
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }

    .art4 {
        grid-row: 3 / 6;
        grid-column: 3 / 5;
    }

    .tickets {
        position: absolute;
        top: 450px;
        width: 49.2%;
        height: 210px;
    }

    #popular {
        text-align: center;
    }

    #popcontainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 50px;
    }

    #storycontainer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .stories {
        flex: 1 1 280px;
        height: 200px;
        margin: 10px;
    }

    #explorecontainer {
        display: flex;
        justify-content: center;
    }

    .exploreitem {
        height: 220px;
        flex: 0 1 200px;
        margin: 0 10px;
    }

    #newsletter {
        height: 270px;
        text-align: center;
    }

    #watch {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 50px 500px;
        grid-gap: 30px;
        margin: 0 20px;
    }

    #watchtitle {
        grid-column: 1 / -1;
    }

    #grootvideo {
        grid-column: 1 / 2;
    }

    #kleinvideo {
        grid-column: 2 / 3;
        overflow-y: scroll;
    }

    .video {
        width: 98%;
        height: 150px;
        margin-bottom: 5px;
    }

    #work {
        height: 500px;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    .flinks {
        display: flex;
        flex-direction: column;
    }

  }