header {
    background-color: aliceblue;
    width: 100vw;
}

#title {
    background-color: lavender;
    width: 100vw;
}

#mainart {
    background-color: lemonchiffon;
}

.mainarticles {
    background-color: lightblue;
}

.tickets {
    background-color: lightcoral;
}

#popular {
    background-color: lightgreen;
}

#latest {
    background-color: lightpink;
}

#explore {
    background-color: lightsalmon;
}

#newsletter{
    background-color: lightseagreen;
}

#watch {
    background-color: lightskyblue;
}

#work {
    background-color: mediumaquamarine;
}

footer {
    background-color: bisque;
    height: 100px;
}

@media screen and (max-width: 480px) {
    header {
        height: 100px;
    }

    #title {
        text-align: center;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    .menuitem {
        display: hidden;
    }
  }

  @media (max-width: 768px) {
    
  }

  @media (max-width: 1024px) {
    .menuitem2 {
        display: hidden;
    }
  }